{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in publications.papers %}
  <div class="item">
      <div class="publication-title" id="heading{{forloop.index}}">
          {% if publication.abstract %}
          <span class="collapsed" title="Click to see the abstract" data-toggle="collapse" data-target="#abstractCollapse{{forloop.index}}" aria-expanded="false" aria-controls="collapse{{forloop.index}}">
              {{ publication.title }}
            </span>
          {% else %}
            {{ publication.title }}
          {% endif %}
          <small>
          {% if publication.pdf %}
            <a href="{{ publication.pdf }}" title="PDF version"><i class="fas fa-file-pdf"></i></a>
          {% endif %}
          {% if publication.slides %}
            <a href="{{ publication.slides }}" title="Slides"><i class="fas fa-tv"></i></a>
          {% endif %}
          {% if publication.poster %}
            <a href="{{ publication.poster }}" title="Poster"><i class="fas fa-file-image"></i></a>
          {% endif %}
          {% if publication.video %}
            <a href="{{ publication.video }}" title="Video"><i class="fas fa-video"></i></a>
          {% endif %}
          {% if publication.code %}
            <a href="{{ publication.code }}" title="Code"><i class="fas fa-code"></i></a>
          {% endif %}
          {% if publication.link %}
            <a href="{{ publication.link}}" title="Website"><i class="fas fa-globe-africa"></i></a>
          {% endif %}
          </small>
      </div>
      <div class="publication-abstract collapse" id="abstractCollapse{{forloop.index}}" class="collapse" aria-labelledby="heading{{forloop.index}}">
          {{ publication.abstract | markdownify }}
      </div>
      <div class="publication-authors">{{ publication.authors }}</div>
      <div class="publication-conference">
        {% if publication.conflink %}
            <a href="{{publication.conflink}}"> {{ publication.conference }}, {{publication.year}} </a>
        {% else %}
            {{ publication.conference }}, {{publication.year}}
        {% endif %}
    </div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
